/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-style1-color: rgb(0, 66, 173, 1);
}

.separator {

}

.editorPane{
	-fx-background-color:rgba(255, 255, 255, 1);
}

.titleBar {
	-fx-background-color:rgba(53, 53, 53, 0.75);
	-fx-border-color: TRANSPARENT;
}

/* ================================= BUTTONS =============================*/

.buttonListCell {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe MDL2 Assets", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.buttonListCell:hover {
    -fx-text-fill: red;
}

.SideButton {
	-fx-min-width: 64;
    -fx-min-height: 50;
    -fx-background-color: rgba(0,168,355,0.01);
    -fx-font-family: "Segoe MDL2 Assets", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-background-radius:0;
}

.SideButton:hover {
    -fx-background-color: #3193b7;
}

.MenuButton {
	-fx-min-width: 50;
    -fx-min-height: 50;
    -fx-pref-width: 260;
    -fx-background-color: rgba(0,168,355,0.01);
    -fx-font-family: "Segoe MDL2 Assets", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-background-radius:0;
}

.MenuButton:hover {
    -fx-background-color: #3193b7;
}

/* =================================LABELS =============================*/

.label_BaseAlt_White {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label_CaptionAlt_White {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text_Title_Black {
	-fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semilight";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text_BaseAlt_White {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.labelDark {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.vBox_SideMenu {
	-fx-background-color: rgba(200, 200, 200, 1);
	-fx-border-color: TRANSPARENT;
}

.hBox_Header_1 {
	-fx-background-color: derive(-style1-color, 0%);
	-fx-border-color: TRANSPARENT;
}

.hBox_Header_2 {
	-fx-background-color: derive(-style1-color, 50%);
	-fx-border-color: TRANSPARENT;
}

.hBox_Header_3 {
	-fx-background-color: derive(-style1-color, 80%);
	-fx-border-color: TRANSPARENT;
}

.hBox .label {
	-fx-background-color: TRANSPARENT;
	-fx-border-color: TRANSPARENT;
	-fx-opacity: 1;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent white transparent white;
    -fx-background-color: transparent, derive(white,20%);
}

.split-pane {
    -fx-padding: 0 0 0 0; 
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    /*-fx-effect: dropshadow(three-pass-box, gray, 25, 0, 0, 0);*/
}

.list-cell {
    -fx-background-color: rgba(240, 240, 240, 1);
}

.list-view{
	-fx-background-color: rgba(255,255,255,0.75);
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.list-view:focused {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:1;
}
